[run]
source=gatenlp
omit=
  _jars
  serialization/_htmlviewer
  gateworker.py
  lib_spacy.py
  lib_stanza.py

[report]
show_missing = True
omit=
  gatenlp/_jars
  gatenlp/serialization/_htmlviewer
  gatenlp/processing/client.py
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    try:
    if __name__ == .__main__.:
    ^from 
    ^\s*continue\b
    ^\s*return\b
    ^\s*raise\b
    ^\s*except\b
    ^\s*warnings\.warn\(
    ^\s*warn\(  
