beautifulsoup4>=4.9.3
conllu
elg
google-api-python-client
google-cloud-language
ibm-watson
iobes
msgpack
nltk>=3.5
py4j
pyyaml>=5.2
ray[default]
requests
sortedcontainers>=2.0.0
spacy>=2.2
stanza>=1.3.0
