ibm-watson
requests
elg
requests
requests
requests
google-cloud-language
requests
elg
ibm-watson
google-cloud-language
msgpack
pyyaml>=5.2
beautifulsoup4>=4.9.3
requests
conllu
py4j
stanza>=1.3.0
spacy>=2.2
nltk>=3.5
matchtext
recordclass
ipython
ipykernel
jupyterlab
voila
RISE
ipywidgets
pytest
pytest-pep8
pytest-cov
pytest-runner
sphinx
pdoc3
tox
mypy
bandit
prospector[with_pyroma,with_vulture,with_mypy,with_bandid,with_frosted]
pytest-tornasync
black[d]
