beautifulsoup4>=4.12.2
chardet>=5.1.0
conllu>=4.5.2
google_api_python_client>=2.86.0
#ibm_cloud_sdk_core>=3.16.5
#ibm_watson>=7.0.0
iobes>=1.5.1
ipython>=8.12.0
ipywidgets>=8.0.6
lxml>=4.9.2
#micropip>=0.3.0
msgpack_python>=0.5.6
nltk>=3.8.1
packaging>=23.1
protobuf>=4.22.3
py4j>=0.10.9.7
#pyodide>=0.0.2
pytest>=7.3.1
ray>=2.4.0
recordclass>=0.18.4
regex>=2023.3.23
setuptools>=66.0.0
six>=1.16.0
sortedcontainers>=2.4.0
spacy>=3.5.2
#stanza>=1.5.0
