beautifulsoup4>=4.9.3
conllu
elg
google-cloud-language
ibm-watson
matchtext
msgpack
nltk>=3.5
py4j
pyyaml>=5.2
recordclass
requests
sortedcontainers>=2.0.0
spacy>=2.2
flake8
pytest
pytest-cov
pytest-pep8
